/* src/App.css */
body {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9fb;
  color: #333;
  padding: 20px;
  overflow: hidden;
}
.app-title {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  background-color: #e9e9e9;
  color: #313131;
  font-size: 24px;
}

.app-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.customer-list-container {
  width: 30%;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  overflow: hidden;
}

.customer-details-container {
  width: 70%;
  padding: 40px;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.05);
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.error-message {
  background-color: #ffebee;
  color: #c62828;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message button {
  background-color: #c62828;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.error-message button:hover {
  background-color: #b71c1c;
}